*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
.Main
{
    padding: 20px;
    min-height: 100vh;
    max-height: fit-content;
    width: 100%;
    overflow: hidden;
    background: url('/Images/Day1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Main .Top
{
    display: flex;
    justify-content: space-between;
}
:where(.Left > div, .Right > div , input)
{
    padding: 10px;
}
.Right , .Left , .Day
{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    height: fit-content;
}
.Right h3 , .Left
{
    color: white;
}
.Bottom
{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    flex-direction: column;
    width: 100%;
}
.Hourly-Data
{
    display: grid;
    grid-template-columns: repeat(7 , 1fr);
    grid-gap: 10px;
}
.Day
{
    width: fit-content;
    padding: 10px 20px ;
    color: white;
    background-color: black;
}
.Hours 
{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    text-align: center;
}
.Time
{
    padding: 10px;
}
.Hours .Temp
{
    padding: 30px 0px;
}
img
{
    width: 30px;
    padding: 3px 0px;
}
input , .Btn
{
    height:fit-content;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
input:focus
{
    outline: none;
}
input
{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.Btn
{
    outline: none;
    border: none;
    color: white;
    background-color: #6EA6BF;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.Hours:hover
{
    transform: translateY(-15px);
    transition: all 0.5s ease;
}
.Hourly-Data
{
    display: none;
}
@media (max-width:800px)
{
    .Main .Top
    {
        display:grid;
        grid-template-columns: repeat(2,1fr);
    }
    .Top >div
    {
        margin: 10px auto;
    }
    .Center
    {
        order: 1;
        grid-column: 1/-1;   
        margin: auto;
    }
    .Left
    {
        order: 2;
        grid-column: 1/2;
        width: 90%;
    }
    .Right
    {
        order: 3;
        grid-column: 2/3;
        width: 90%;
    }
    .Hourly-Data h2 , .Day 
    {
        font-size: smaller;
    }
    .Hours .Temp
    {
        padding: 10px;
    }
    .Day
    {
        align-self: center;
    }
}
@media (max-width:450px)
{
    .Main .Top
    {
        grid-template-columns: repeat(2,1fr);
    }
    .Top >div
    {
        margin: 10px auto;
    }
    .Center
    {
        order: 1;
        grid-column: 1/-1;   
        margin: auto;
    }
    .Left
    {
        order: 2;
        grid-column: 1/-1;
        width: 100%;
    }
    .Right
    {
        order: 3;
        grid-column: 1/-1;
        width: 100%;
    }
    .Hourly-Data
    {
        overflow-x: scroll;
    }
    .Hours .Temp
    {
        padding: 10px 20px;
        width: 100%;
    }
    .Center .Type
    {
        position: relative;
        display: block;
        width: 100%;
        margin: 5px auto;
        border-radius: 5px;
    }
}

.Left , .Right , .Day
{
    visibility: hidden;
}